 .u-section-1 {
  background-image: linear-gradient(#4d4d4d, #333333);
}

.u-section-1 .u-sheet-1 {
  min-height: 1570px;
}

.u-section-1 .u-rotation-parent-1 {
  animation-timing-function: ease;
  width: 1020px;
  height: 1203px;
  margin: -80px -296px 0 auto;
}

.u-section-1 .u-image-1 {
  width: 633px;
  height: 1029px;
  transform-origin: center center;
  transform: translateX(-50%) translateY(-50%) rotate(334deg);
}

.u-section-1 .u-text-1 {
  margin: -1040px 636px 0 295px;
}

.u-section-1 .u-shape-1 {
  width: 208px;
  height: 35px;
  background-image: none;
  margin: 32px auto 0 296px;
}

.u-section-1 .u-shape-2 {
  width: 63px;
  height: 29px;
  background-image: none;
  margin: -32px auto 0 303px;
}

.u-section-1 .u-shape-3 {
  width: 87px;
  height: 29px;
  background-image: none;
  margin: -29px auto 0 366px;
}

.u-section-1 .u-shape-4 {
  width: 45px;
  height: 29px;
  background-image: none;
  margin: -29px auto 0 451px;
}

.u-section-1 .u-text-2 {
  font-size: 0.75rem;
  font-weight: 700;
  font-family: "Alfa Slab One";
  margin: -24px 781px 0 309px;
}

.u-section-1 .u-text-3 {
  font-size: 0.75rem;
  margin: -59px 754px 0 294px;
}

.u-section-1 .u-text-4 {
  font-size: 0.75rem;
  font-weight: 700;
  font-family: "Alfa Slab One";
  margin: 21px 595px 0 496px;
}

.u-section-1 .u-image-2 {
  width: 202px;
  height: 85px;
  margin: 93px auto 0 269px;
}

.u-section-1 .u-text-5 {
  font-style: italic;
  margin: -90px auto 0 295px;
}

.u-section-1 .u-group-1 {
  width: 356px;
  height: auto;
  background-image: linear-gradient(rgba(77,77,77,0.2196078431372549), #333333);
  min-height: 311px;
  margin: -249px 41px 0 auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 17px 15px 5px;
}

.u-section-1 .u-text-6 {
  margin: 0;
}

.u-section-1 .u-group-2 {
  width: 496px;
  height: auto;
  background-image: none;
  min-height: 39px;
  --bottom-left-radius: 20px;
  margin: 62px auto 0;
}

.u-section-1 .u-container-layout-2 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-1 .u-text-7 {
  font-size: 1.5rem;
  width: 321px;
  margin: 1px auto 0;
}

.u-section-1 .u-image-3 {
  width: 214px;
  height: 311px;
  box-shadow: 2px 2px 10px 8px rgba(51,51,51,1);
  filter: brightness(0.95);
  margin: -412px auto 0 40px;
}

.u-section-1 .u-text-8 {
  margin: 20px auto 0 295px;
}

.u-section-1 .u-products-1 {
  margin-top: 114px;
  margin-bottom: 60px;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: repeat(4, 25%);
  min-height: 998px;
  grid-gap: 0px;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px 20px;
}

.u-section-1 .u-image-4 {
  height: 332px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-9 {
  font-weight: 700;
  margin: -303px auto 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  font-style: italic;
  font-weight: 700;
  background-image: none;
  --radius: 5px;
  margin: 206px auto 0;
  padding: 5px 30px 6px;
}

.u-section-1 .u-product-price-1 {
  margin: 62px auto 0;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px 20px;
}

.u-section-1 .u-image-5 {
  height: 332px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-10 {
  font-weight: 700;
  margin: -303px auto 0;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  font-style: italic;
  font-weight: 700;
  background-image: none;
  --radius: 5px;
  margin: 206px auto 0;
  padding: 5px 30px 6px;
}

.u-section-1 .u-product-price-2 {
  margin: 62px auto 0;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px 20px;
}

.u-section-1 .u-image-6 {
  height: 332px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-11 {
  font-weight: 700;
  margin: -303px auto 0;
}

.u-section-1 .u-btn-3 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  font-style: italic;
  font-weight: 700;
  background-image: none;
  --radius: 5px;
  margin: 206px auto 0;
  padding: 5px 30px 6px;
}

.u-section-1 .u-product-price-3 {
  margin: 62px auto 0;
}

.u-section-1 .u-container-layout-6 {
  padding: 30px 20px;
}

.u-section-1 .u-image-7 {
  height: 332px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-12 {
  font-weight: 700;
  margin: -303px auto 0;
}

.u-section-1 .u-btn-4 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  font-style: italic;
  font-weight: 700;
  background-image: none;
  --radius: 5px;
  margin: 206px auto 0;
  padding: 5px 30px 6px;
}

.u-section-1 .u-product-price-4 {
  margin: 62px auto 0;
}

.u-section-1 .u-container-layout-7 {
  padding: 30px 20px;
}

.u-section-1 .u-image-8 {
  height: 332px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-13 {
  font-weight: 700;
  margin: -303px auto 0;
}

.u-section-1 .u-btn-5 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  font-style: italic;
  font-weight: 700;
  background-image: none;
  --radius: 5px;
  margin: 206px auto 0;
  padding: 5px 30px 6px;
}

.u-section-1 .u-product-price-5 {
  margin: 62px auto 0;
}

.u-section-1 .u-container-layout-8 {
  padding: 30px 20px;
}

.u-section-1 .u-image-9 {
  height: 332px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-14 {
  font-weight: 700;
  margin: -303px auto 0;
}

.u-section-1 .u-btn-6 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  font-style: italic;
  font-weight: 700;
  background-image: none;
  --radius: 5px;
  margin: 206px auto 0;
  padding: 5px 30px 6px;
}

.u-section-1 .u-product-price-6 {
  margin: 62px auto 0;
}

.u-section-1 .u-container-layout-9 {
  padding: 30px 20px;
}

.u-section-1 .u-image-10 {
  height: 332px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-15 {
  font-weight: 700;
  margin: -303px auto 0;
}

.u-section-1 .u-btn-7 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  font-style: italic;
  font-weight: 700;
  background-image: none;
  --radius: 5px;
  margin: 206px auto 0;
  padding: 5px 30px 6px;
}

.u-section-1 .u-product-price-7 {
  margin: 62px auto 0;
}

.u-section-1 .u-container-layout-10 {
  padding: 30px 20px;
}

.u-section-1 .u-image-11 {
  height: 332px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-16 {
  font-weight: 700;
  margin: -303px auto 0;
}

.u-section-1 .u-btn-8 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  font-style: italic;
  font-weight: 700;
  background-image: none;
  --radius: 5px;
  margin: 206px auto 0;
  padding: 5px 30px 6px;
}

.u-section-1 .u-product-price-8 {
  margin: 62px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-rotation-parent-1 {
    height: 1202px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -1039px;
    margin-right: 524px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 681px;
    margin-left: 209px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 622px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 495px;
    margin-left: 396px;
  }

  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-text-6 {
    margin-right: -124px;
    margin-left: 624px;
  }

  .u-section-1 .u-group-2 {
    --radius: 20px;
    height: auto;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 823px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1216px;
  }

  .u-section-1 .u-rotation-parent-1 {
    width: 720px;
    height: 848px;
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    width: 447px;
    height: 727px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -685px;
    margin-right: 401px;
    margin-left: 226px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 571px;
    margin-left: 99px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 476px;
    margin-left: 225px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 385px;
    margin-left: 286px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 226px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 404px;
  }

  .u-section-1 .u-text-8 {
    margin-left: 226px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(2, 50%);
    min-height: 2522px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1004px;
  }

  .u-section-1 .u-rotation-parent-1 {
    width: 540px;
    height: 636px;
  }

  .u-section-1 .u-image-1 {
    width: 335px;
    height: 545px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -473px;
    margin-right: 301px;
    margin-left: 170px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 481px;
    margin-left: 9px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 357px;
    margin-left: 169px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 295px;
    margin-left: 196px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 170px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 224px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-7 {
    font-size: 1rem;
  }

  .u-section-1 .u-text-8 {
    margin-left: 170px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 768px;
  }

  .u-section-1 .u-rotation-parent-1 {
    width: 340px;
    height: 400px;
  }

  .u-section-1 .u-image-1 {
    width: 211px;
    height: 343px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -237px;
    margin-right: 190px;
    margin-left: 107px;
  }

  .u-section-1 .u-shape-1 {
    margin-left: 132px;
  }

  .u-section-1 .u-shape-2 {
    margin-left: 277px;
  }

  .u-section-1 .u-shape-3 {
    margin-left: 253px;
  }

  .u-section-1 .u-shape-4 {
    margin-left: 295px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 290px;
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 225px;
    margin-left: 106px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 195px;
    margin-left: 96px;
  }

  .u-section-1 .u-image-2 {
    margin-left: 138px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 107px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-1 .u-text-6 {
    margin-left: 24px;
  }

  .u-section-1 .u-group-2 {
    width: 340px;
  }

  .u-section-1 .u-text-7 {
    width: 320px;
  }

  .u-section-1 .u-text-8 {
    margin-left: 107px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 657px;
}

.u-section-2 .u-categories-1 {
  margin: 50px auto 60px;
}

.u-section-2 .u-categories-item-content-1 {
  margin-right: 5px;
  margin-bottom: 0;
  padding: 10px;
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1208px;
  }
}